# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environments
.venv/
venv/
env/

# Environment Variables
.env

# Streamlit
.streamlit/

# VS Code
.vscode/

# History
history.json
prediction_history.csv

# Reports
Nutrition_Report.pdf

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db