# Python
__pycache__/
*.pyc

# Virtual Environments
.venv/
venv/
env/

# Environment
.env

# Streamlit/Data
history.json
prediction_history.csv
Nutrition_Report.pdf

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db